.login_form_container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login_form  {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input_group {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input_group  {
    width: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f1f1f1;
    padding: 5px;
    margin-right: 10px;
  }
  
  .input_text {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .button_group {
    text-align: center;
  }
  
  .button_group  {
    padding: 10px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .forgot_password {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup {
    text-align: center;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 480px) {
    .login_form_container {
      width: 90%;
    }
  }
  